﻿@model LoginViewModel
@{
    ViewData["Title"] = "Admin-Load";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Main">Main</a></li>
        <li class="breadcrumb-item"><a asp-controller="Home"  asp-action="Env" asp-route-id=@Model.ActiveEnvirnment.Name >@Model.ActiveEnvirnment.Name</a></li>        
        <li class="breadcrumb-item active" aria-current="page">Data Load</li>
    </ol>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Type</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.GWDataFiles())
                    {
                        <tr>
                            <th scope="row">@item.Name </th>
                            <td>@item.Size</td>
                            <td>@item.Path</td>
                            <td>@item.Description</td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>

    </div>
</div>




<div class="container">
    <div class="row">

        <form method="post" asp-controller="FileUpload" asp-action="Index" enctype="multipart/form-data">
            <input type="file" name="files" />
            <input type="hidden" name="env" value=@Model.ActiveEnvirnment.Name />
            <button type="submit">Upload</button>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" style="margin-top:20px">
                @ViewBag.Message
            </div>
        }

    </div>

</div>


